.sidebar {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #293d53;
    color: #fff;
    padding-top: 20px;
}

.sidebar .img {
    width: 80%;
    margin: auto;
}

.sidebar .img img {
    width: 100%;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px; 
}

.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px; 
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.subpages {
    display: none;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.subpages li a {
    color: #ccc;
}

.submenu.active .subpages {
    display: block;
}

.button {
    position: absolute;
    bottom: 50px;
    margin: auto;
    left: 30%;
    padding: 10px;
    width: 80px;
    background-color: #E86D6C;
    border: 2px solid #E86D6C;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: .25s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    transition: .25s ease-in-out;
}