body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #3c5774;
    display: flex;
}

.sidebar {
    position: relative;
    width: 13%;
    height: 100vh;
    background-color: #293d53;
    color: #fff;
    padding-top: 20px;
}

.sidebar .img {
    width: 80%;
    margin: auto;
}

.sidebar .img img {
    width: 100%;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px; 
}

.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px; 
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.subpages {
    display: none;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.subpages li a {
    color: #ccc;
}

.submenu.active .subpages {
    display: block;
}

.content {
    background-image: url(/home/img_home/fundoWebS.png);
    background-repeat: no-repeat; 
    background-position: center;
    width: 100vw;
    height: 100v;
    align-items: center;
} 

.card {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    padding: .6em;
    box-sizing: border-box;
    background-color: #517290e9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-text {
    color: #fff; 
    font-size: 18px; 
    font-family: inter;
} 

.ml-5 {
    margin-left: 6em;
}

button {
    position: absolute;
    bottom: 50px;
    margin: auto;
    left: 30%;
    padding: 10px;
    width: 80px;
    background-color: #E86D6C;
    border: 2px solid #E86D6C;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: .25s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    transition: .25s ease-in-out;
}

.btn-container {
    margin-top: 90px; 
}