:root{
    --color-sidebar: #293d53;
    --color-content: #3c5774;
    --color-white: #f6f6f6;
    --color-red: #C87A7B;
    --color-green: #8CAA84; 
    --color-box: #597b9bc9;
    --color-box-maior: #5e7b9665;
}

body{
    background-color:  var(--color-content);
}
.box-maior {
    background-color: var(--color-box-maior);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: var(--color-white);
}

h1{
    color: var(--color-red);
}

h2 {
    color: var(--color-red);
}

.titleBox{
    color: var(--color-white);
}

.titleBox {
    width: 250px;
    height: 59px;
    background-color: #517290e9;
    display: flex;
    align-items: center;
}

.titleBox p {
    color: #fff;
    font-weight: 600;
    margin: 0 20px;
}

.titleBox .img {
    height: 45px;
    width: 45px;
    background-color: rgb(217, 164, 248);
    border-radius: 50%;
}

.dots {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.dots .dot {
    height: 7px;
    width: 7px;
    background: #fff;
    margin-left: 10px;
    border-radius: 50%;
}

.dot:nth-child(2) {
    margin: 5px 0 5px 10px;
}


.breadcrumb li{
    color: var(--color-white) !important;

    & a{
        color: var(--color-red);
    }
}

.breadcrumb-item+.breadcrumb-item::before{
    color: var(--color-white);
}

.box{
    background-color: var(--color-box);
}

.dark-box{
    color: var(--color-white);
}

.btn-primary{
    background-color: var(--color-red);
    border: var(--color-red);
}

.btn-primary:hover{
    background-color:#b36061;
    border: var(--color-red);
}

